<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrt.mvc.model.dao.BoardDao">
	<!-- 게시글 전체 조회 -->
	<select id="selectAll" resultType="Board" parameterType="SearchCondition">
		SELECT 
		    b.board_no,
		    b.board_title,
		    b.board_content,
		    b.board_reg_date,
		    b.board_view_cnt,
		    u.user_nickname
		FROM 
		    board b
		JOIN 
		    user u
		ON b.board_user_no = u.user_no
		<!-- 검색 내용 -->
		<if test="key != 'none'">
			WHERE ${key} Like concat('%',#{word},'%')
		</if>
		<!-- 정렬 기준 및 조건 -->
		<if test="orderBy != 'none'">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
		<if test="orderBy == 'none'">
			ORDER BY board_no ASC
		</if>
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE board
		SET board_view_cnt = board_view_cnt+1
		WHERE board_no = #{no};
	</update>
	
	<!-- 게시글 상세 조회 -->
	<select id="selectOne" resultType="Board" parameterType="int">
	    SELECT b.board_no, b.board_file_no, b.board_title, b.board_content, 
	           b.board_reg_date, b.board_view_cnt, b.board_user_no, u.user_nickname
	    FROM board b
        JOIN user u ON b.board_user_no = u.user_no
	    WHERE b.board_no = #{no};
	</select>
	
	<!-- 게시글 등록 -->
	
	<!-- 파일 등록 -->
	
	<!-- 게시글 내용 수정 -->
	
	<!-- 게시글 파일 수정 -->
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE 
		FROM board
		WHERE board_no = #{no};
	</delete>
	
</mapper>